.App {
  text-align: center;
}

.App__header {
  margin: 60px 0 30px;
}

.App__form:hover > .App__btn {
  opacity: 1;
}
.App__btn {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 4px;
  outline: none;
  opacity: 0;
  cursor: pointer;
  transition: opacity 300ms ease-in 0s;
}
